* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #ffffff;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}


.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.menu-item .label {
    -fx-text-fill: #2a81dd;
}


/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 13pt;
}


.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}
